@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Zero Hunger</h1>
    </section>

    <div>
        <a href="/Collection" class="btn btn-primary">Collection Request</a>
        <a href="/Approval" class="btn btn-secondary">Approve Requests</a>
    </div>
</main>