@{
    ViewBag.Title = "Create Collection";
}

<h2>Create Collection</h2>

<form method="post">
    <input type="hidden" name="Id" />
    Company Name:  <input type="text" name="Name" class="form-control" />
    Food:  <input type="text" name="Food" class="form-control" />
    Quantity:  <input type="text" name="Quantity" class="form-control" />
    Expiry:  <input type="text" name="Expiry" class="form-control" />
    <input type="submit" value="Submit" class="btn btn-success" style="margin-top: 5px;" />
</form>